*
{
    font-family: 'raleway' , sans-serif ;
    text-decoration: none;
    color: black;
}
body
{
    max-width: 1400px;
}
p
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2
{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}


