/*Les deux blocs centraux*/

.deux_blocs
{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.euro
{
    font-weight: bold;
}
.bloc_left
{
    width: 64%;
    height: 626px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
    margin-right: 3%;
}

.bloc_left h1
{
    padding-top: 15px;
    margin-left: 40px;
}

.cards
{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
    gap: 31px;
    margin-bottom: 40px;
}
.auberge , .hôtel_port, .hotel_mouettes,  .hôtel_mer , .auberge_panier, .hôtel_Amina
{
    Width:  100%;
    Height: 199px;
    border-radius : 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    border: 4px solid white;
}
.cards img
{
    width: 100%;
    height: 124px;
}
.image_top
{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards .stars img
{
    width: 12px;
    height: 12px;
    padding-bottom: 5px;
}
.text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
}
.cards p
{
  padding-top: 7px ;
  padding-bottom: 7px;
}
.auberge h2 , .hôtel_port h2, .hotel_mouettes h2,  .hôtel_mer h2 , .auberge_panier h2, .hôtel_Amina h2
{
    margin-top: 5px;
}
.afficher_plus h2
{
    margin-top: 40px;
    padding-bottom: 80px;
    padding-left: 40px;
}

/* bloc de droite */

.bloc_right
{
    width: 26%;
    height: 626px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 2%;
}


.populaire
{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 10px;
}
.icone_graphique
{
    width: 18px;
    height: 15px;
}

.card-1_right , .card-2_right , .card-3_right
{
    width: 85%;
    height: 140px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    object-fit: cover;
    border: 5px solid white;
    margin-top: 20px;
    padding-left:auto;
    padding-right: 10%;
}

.text_right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 50%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.text_right p
{
    margin-bottom: 44px;
    margin-top: 5px;
}

.stars img
{
    width: 12px;
    height: 12px;
}


.images_right
{
    height: 100%;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}























