/*footer*/

footer
{
    background-color: rgba(242, 242, 242, 1);
    margin-top: 61px;
    height: 225px;
    margin-right: 40px;
}
.propos_herbergement_assistance
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.list
{
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 13%;
}
.list h2
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;  
    margin-bottom: 20px;
}
.list ul
{
    list-style-type: none;
    padding-left: 0px;
}
.list li
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
}
@media screen and (max-width: 992px)
{
    footer{
        width: 95%;
    }
    .list{
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px)
{

    footer
    {
        margin-left: 27%;
        max-width: 375px;
        height: auto;
    }
    .propos_herbergement_assistance
    {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        padding-top: 20px;
    }
    .list
    {
        margin-bottom: 15px;
    }
}