/*formulaire*/

#recherche
{
    font-weight: bold;
}
.search
{
    display: flex;
    width: 540px;
    flex-direction: row;
    height: 49px;
}
.label
{
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formulaire
{
    background: #FFFFFF;
    font-weight: 900;
    width: 200px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid white;
}
.validation
{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 900;
    width: 132px;
    font-size: medium;
}
.formulaire
{
    padding-left: 35px;
}