/*header*/

header
{
    padding-left: 50px;
}
.ligne_superieur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 67px;
    padding-top: 48px;
    text-align: center;
    text-decoration: no;
}
.icon_booki
{
    width: 61.09px;
    height: 19px;
    background-image: url("Images+Booki/Images Booki/logo/serrure.svg") /*url("Images+Booki/Images Booki/logo/ellipse.svg")*/;
    background-repeat: no-repeat;
    background-position: 61% 65%;
}
.nav_hebergement_activite
{
    display: flex;
    color: #0065FC;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.hebergment_trouver p
{
    margin-bottom: 20px;
}

.hebergement
{
    padding: 20px;
}
.hebergement:hover
{
    border-top: #0065FC 3px solid;
    padding-top: 54px;
    color: #0065FC;
}
.activites
{ 
    padding: 40px;
}
.activites:hover
{
    border-top: #0065FC 3px solid;
    padding-top: 54px;
    color: #0065FC;
}


