/*header*/

.ligne_superieur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 67px;
    padding-top: 48px;
    text-align: center;
    text-decoration: none;
}
.icon_booki
{
    width: 61.09px;
    height: 19px;
    background-image: url("Images+Booki/Images Booki/logo/serrure.svg") /*url("Images+Booki/Images Booki/logo/ellipse.svg")*/;
    background-repeat: no-repeat;
    background-position: 61% 65%;
}
.nav_hebergement_activite
{
    display: flex;
    color: #0065FC;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.hebergment_trouver p
{
    margin-bottom: 20px;
}

.hebergement
{
    padding: 20px;
}
.hebergement:hover
{
    border-top: #0065FC 3px solid;
    padding-top: 54px;
    color: #0065FC;
}
.activites
{ 
    padding: 40px;
}
.activites:hover
{
    border-top: #0065FC 3px solid;
    padding-top: 54px;
    color: #0065FC;
}
@media screen and (max-width: 768px)
{
    .ligne_superieur
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
        max-width: 355px;
        margin-left: 25%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .nav_hebergement_activite
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .hebergement
    {
        margin-right: 20px;
        padding-right: 40px;
    }
    .activites:hover
    {
        border-bottom: #0065FC 3px solid;
        padding-bottom: 23px;
        color: #0065FC;
        border-top-style: none ;
    }
    .hebergement:hover
    {
        border-bottom: #0065FC 3px solid;
        padding-bottom: 23px;
        color: #0065FC;
        border-top-style: none ;
    }
    .hebergment_trouver
    {
        margin-top: 21px;
        margin-left: 26%;
        margin-right: 192px;
        padding-left: 3%;
    }
    
 
}



