/*navigateur*/

.navigateur
{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content:space-between;
    height: 50px;
    width: 65%;
    top: 280px;
    align-items: center;
}

.Familial , .Économique , .Romantique , .Animaux_autorisés
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Familial:hover , .Économique:hover , .Romantique:hover , .Animaux_autorisés:hover
{
    background-color: rgba(222, 235, 255, 1);
}
.navigateur h2
{
    padding-left: 10px;
    font-weight: bold;
}
.navigateur img
{
    margin-left: 15px;
}

/*Point information*/

.information
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.information img
{
    width: 4px;
    height: 10px;
    border: 1px solid #D9D9D9 ;
    border-radius: 50%;
    padding: 7px 10px;
    margin-right: 11px;
}
@media screen and (max-width: 992px)
{
    .ligne_superieur
    {
        padding-right: 30px;
    }
    .navigateur
    {
        width: 95%;
    }
    .navigateur a
    {
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 768px)
{
    
    .navigateur
    {
        height: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr ;
        grid-template-rows: 50px 50px;
        margin-left: 28.5%;
        max-width: 355px;
        row-gap: 2%;
        column-gap: 0px;
    }
    .navigateur a
    {
        /*padding-right: 15px;*/
        padding-left: 1px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .filtre_titre
    {
        grid-column: 1/3;
    }
    .Familial , .Économique , .Romantique , .Animaux_autorisés 
    {
        margin-left: 2.5%;
        padding-left: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .Familial h2, .Économique h2, .Romantique h2, .Animaux_autorisés h2
    {
        font-size: 11px;
        padding-left: 5px;
    }
    .information
    {
        margin-left: 26.5%;
        max-width: 315px;
        padding-left: 20px;
        margin-right: 3%;
        margin-top: 30px;
    }
    .information p
    {
        max-width: 375px;
    }
}
    
