*
{
    font-family: 'raleway' , sans-serif ;
    text-decoration: none;
    color: black;
}
body
{
    max-width: 1400px;
}
p
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
h1
{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2
{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
header
{
    padding-left: 50px;
}
/*header*/

.ligne_superieur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 67px;
    padding-top: 48px;
    text-align: center;
    text-decoration: no;
}
.icon_booki
{
    width: 61.09px;
    height: 19px;
    background-image: url("Images+Booki/Images Booki/logo/serrure.svg") /*url("Images+Booki/Images Booki/logo/ellipse.svg")*/;
    background-repeat: no-repeat;
    background-position: 61% 65%;
}
.nav_hebergement_activite
{
    display: flex;
    color: #0065FC;
    flex-direction: row;
    justify-content: space-around;
}
.hebergment_trouver p
{
    margin-bottom: 20px;
}

.hebergement
{
    margin-right: 67px;
}
  .activites:hover , .hebergement:hover
{
    border-top: 2px #0065FC solid ;
    padding-top: 50px;
}


/* le formulaire */

#recherche
{
    font-weight: bold;
}
.search
{
    display: flex;
    width: 540px;
    flex-direction: row;
    height: 49px;
}
.label
{
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formulaire
{
    background: #FFFFFF;
    font-weight: 900;
    width: 200px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid white;
}
.validation
{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 900;
    width: 132px;
    font-size: medium;
}
.formulaire
{
    padding-left: 35px;
}

/*navigateur*/
.navigateur
{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content:space-between;
    flex-grow: 1;
    height: 50px;
    width: 914px;
    left: 62px;
    top: 280px;
    align-items: center;
}

.Familial , .Économique , .Romantique , .Animaux_autorisés
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #D9D9D9;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Familial:hover , .Économique:hover , .Romantique:hover , .Animaux_autorisés:hover
{
    background-color: rgba(222, 235, 255, 1);
}
.navigateur h2
{
    padding-left: 10px;
    font-weight: bold;
}
.navigateur img
{
    margin-left: 15px;
}

/*information*/

.information
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.information img
{
    width: 4px;
    height: 10px;
    border: 1px solid #D9D9D9 ;
    border-radius: 50%;
    padding: 7px 10px;
    margin-right: 11px;
}
/*Les deux blocs centraux*/
.deux_blocs
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*partie centrale bloc de gauche*/

.bloc_left
{
    width: 64%;
    height: 626px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
    margin-left: 40px;
}
.bloc_left h1
{
    padding-top: 40px;
    padding-bottom: 18px;
    margin-left: 40px;
}

.cards
{
    width: 246px;
    height: 299px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 40px;
    gap: 31px;
}
.auberge , .hôtel_port, .hotel_mouettes,  .hôtel_mer , .auberge_panier, .hôtel_Amina
{
    Width:  242px;
    Height: 199px;
    border-radius : 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    border: 4px solid white;
}
.cards img
{
    width: 100%;
    height: 124px;
}
.image_top
{
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.cards .stars img
{
    width: 12px;
    height: 12px;
    padding-bottom: 5px;
}
.text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
}
.cards p
{
  padding-top: 7px ;
  padding-bottom: 7px;
}
.auberge h2 , .hôtel_port h2, .hotel_mouettes h2,  .hôtel_mer h2 , .auberge_panier h2, .hôtel_Amina h2
{
    margin-top: 5px;
}

/* bloc de droite */
.bloc_right
{
    width: 30%;
    height: 626px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc_right_content
{
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: (#D9D9D9);
    height: 80%;
    align-items: center;
    justify-content: center;
    
}

.populaire
{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    align-items: center;
}
.icone_graphique
{
    width: 18px;
    height: 15px;
}

.card-1_right , .card-2_right , .card-3_right
{
    width: 85%;
    height: 140px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
    object-fit: cover;
    border: 5px solid white;
    margin-top: 20px;
    padding-left:auto;
    padding-right: 10%;
}
.text_right
{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    height: 90%;
    width: 50%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    overflow: scroll;
}
.text_right p
{
    margin-bottom: 44px;
    margin-top: 5px;
}
.stars img
{
    width: 12px;
    height: 12px;
}
.text_right h2
{

}

.images_right
{
    height: 100%;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}























