
/*Informations css générales et media queries*/
*
{
	font-family: 'raleway' , sans-serif ;
	text-decoration: none;
	color: black;
}
.wrapper {
	padding-left: 5%;
}

body
{
	max-width: 1600px;
	padding-left: 40px;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
}

h1
{
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
}

h2
{
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Les deux blocs centraux*/

.two-blocs
{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

.euro
{
	font-weight: bold;
}

.bloc-left
{
	width: 64%;
	height: 100%;
	background-color: rgba(242, 242, 242, 1);
	border-radius: 20px;
	margin-right: 3%;
}

.bloc-left h1
{
	padding-top: 15px;
	margin-left: 40px;
}

.cards
{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 40px;
	padding-right: 40px;
	gap: 31px;
	margin-bottom: 40px;
}

.auberge , .hôtel_port, .hotel_mouettes,  .hôtel_mer , .auberge_panier, .hôtel_Amina
{
	Width:  100%;
	Height: auto;
	border-radius : 20px;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
	border: 4px solid white;
}

.cards img
{
	width: 100%;
	height: 124px;
}

.image_top
{
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.cards .stars img
{
	width: 12px;
	height: 12px;
	padding-bottom: 5px;
}

.text
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 16px;
}

.cards p
{
	padding-top: 7px ;
	padding-bottom: 7px;
}

.auberge h2 , .hôtel_port h2, .hotel_mouettes h2,  .hôtel_mer h2 , .auberge_panier h2, .hôtel_Amina h2
{
	margin-top: 5px;
}

.afficher_plus h2
{
	margin-top: 40px;
	padding-bottom: 80px;
	padding-left: 40px;
}


/* bloc de droite */


.bloc_right
{
	width: 26%;
	height: 100%;
	background-color: rgba(242, 242, 242, 1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 3%;
	padding-right: 2%;
}

.popular
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-right: 10px;
}

.popular h1
{
	margin-top: 35px;
}

.icone_graphique
{
	width: 18px;
	height: 15px;
}

.card-1_right , .card-2_right , .card-3_right
{
	width: 85%;
	height: auto;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
	object-fit: cover;
	border: 5px solid white;
	margin-bottom: 10%;
	padding-right: 10%;
}

.text_right
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
	width: 50%;
	margin-left: 10%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.text_right p
{
	margin-bottom: 44px;
	margin-top: 5px;
}

.stars img
{
	width: 12px;
	height: 12px;
}

.images_right
{
	height: auto;
	width: 40%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	object-fit: cover;
}

/*partie hebergement à Marseille*/

.activities_marseille
{
	margin-right: 40px;
}

.card_low
{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}

.activite_marseille h1
{
	margin-top: 60px;
}

.card_1_activite, .card_2_activite, .card_3_activite, .card_4_activite
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 445px;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
	justify-content: space-between;
}
.card_4_activite br
{
	display: none;
}

.card_low a
{
	max-width: 25%;
}

.card_1_activite img, .card_2_activite img, .card_3_activite img, .card_4_activite img
{
	height: 90%;
	object-fit:cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card_1_activite h2, .card_2_activite h2, .card_3_activite h2, .card_4_activite h2
{
	padding-left: 20px;
	padding-bottom: 10px;
}

/*footer*/
footer
{
	background-color: rgba(242, 242, 242, 1);
	margin-top: 61px;
	height: 225px;
	margin-right: 40px;
}

.propos_herbergement_assistance
{
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.list
{
	padding-top: 4%;
	padding-left: 5%;
	padding-right: 13%;
}

.list h2
{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 20px;
}

.list ul
{
	list-style-type: none;
	padding-left: 0px;
}

.list li
{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 12px;
}

/*formulaire*/

#recherche
{
	font-weight: bold;
}

.search_2
{
	display: flex;
	width: 540px;
	flex-direction: row;
	height: 49px;
}

.label
{
	display: flex;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	background: #F2F2F2;
	width: 50px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.formulaire
{
	background: #FFFFFF;
	font-weight: 900;
	width: 200px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid white;
}

.validation
{
	background: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
	color: white;
	font-weight: 900;
	width: 132px;
	font-size: medium;
}

.formulaire
{
	padding-left: 35px;
}

.validation_2
{
	display: none;
}

/*header*/

.upper-line
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 67px;
	padding-top: 48px;
	text-align: center;
	text-decoration: none;
}

.icon-booki
{
	width: 61.09px;
	height: 19px;
	background-image: url("Images+Booki/Images Booki/logo/serrure.svg");
	background-repeat: no-repeat;
	background-position: 61% 65%;
}

.nav-hebergement-activity
{
	display: flex;
	color: #0065FC;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
}

.hebergement-find p
{
	margin-bottom: 20px;
}

.hebergement
{
	padding: 20px;
}

.hebergement:hover
{
	border-top: #0065FC 3px solid;
	padding-top: 54px;
	color: #0065FC;
}

.activites
{
	padding: 40px;
}

.activites:hover
{
	border-top: #0065FC 3px solid;
	padding-top: 54px;
	color: #0065FC;
}

/*navigateur*/

.navigateur
{
	display: flex;
	flex-direction: row;
	padding-top: 40px;
	/*justify-content:space-between;*/
	height: 50px;
	width: 70%;
	/*top: 280px;*/
	align-items: center;
}
.navigateur a
{
	/*width: auto;*/
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	padding-left: 2%;
	padding-top: 10%;
	margin-right: 4%;
	padding-right: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-left: 10%;
	margin-right: 10%;*/	
}
.filter-title
{
	margin-right: 8%;
}

.Familial , .Économique , .Romantique , .Animaux_autorisés
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Familial:hover , .Économique:hover , .Romantique:hover , .Animaux_autorisés:hover
{
	background-color: rgba(222, 235, 255, 1);
}

.navigateur h2
{
	padding-left: 10px;
	font-weight: bold;
}



/*Point information*/

.information
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.information img
{
	width: 4px;
	height: 10px;
	border: 1px solid #D9D9D9 ;
	border-radius: 50%;
	padding: 7px 10px;
	margin-right: 11px;
}

@media screen and (max-width: 992px)
{
	.two-blocs
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 0%;
	}

	.bloc-left
	{
		width: 97%;
	}
	.afficher_plus
	{
		padding-bottom: 6%;
	}

	.bloc_right
	{
		width: 97%;
		height: 278px ;
		padding: 0%;
		margin: 0%;
		margin-top: 55px;
	}

	.popular
	{
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 25px;
	}

	.popular h1
	{
		margin-bottom: auto;
		margin-top: auto;
	}

	.card_right
	{
		display: flex;
		flex-direction: row;
		width: 95%;
		height: 100%;
		align-items: center;
		justify-content: space-around;
	}
	.card_right a
	{
		width: 30%;
		padding: 0%;
		margin: 0%;
	}

	.card-3_right h2
	{
		width: 90%;
	}

	.images_right
	{
		width: 40%;
	}

	.text_right
	{
		width: 200px;
		width: 60%;
		margin-top: 2%;
		margin-bottom: 4%;
		display: flex;
		flex-direction: column;
		margin-left: 4%;
	}

	.text_right h2
	{
		font-size: 14px;
	}

	.text_right p
	{
		font-size: 13px;
	}

	.afficher_plus h2
	{
		padding-bottom: 0px;
	}

	.activities_marseille
	{
		margin-right: 0px;
		
	}

	.activite_marseille h1
	{
		margin-bottom: 40px;
	}

	.card_low
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 300px;
	}
	
	.card_low h2
	{
		padding-bottom: 17px;
	}
	

	.card_1_activite , .card_2_activite , .card_3_activite , .card_4_activite 
	{
		height: 90%;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}
	.card_4_activite br
	{
		display: inline;
	}
	.card_2_activite img
	{
		height: 80%;
	}
	.card_1_activite h2,  .card_3_activite h2, .card_4_activite h2
	{
		height: 10%;
		padding-top: 10px;
		margin-bottom: 5px;
	}

	.ligne_superieur
	{
		padding-right: 30px;
	}

	.navigateur
	{
		width: 95%;
	}
	.filter-title
	{
		margin-right: 3%
	}

	.navigateur a
	{
		margin-right: 20px;
	}

	footer
	{
		width: 95%;
		margin-top: 40px;
	}

	.list
	{
		padding-right: 30px;
	}
}

@media screen and (max-width: 768px)
{
	body
	{
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	header 
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.bloc-left
	{
		margin-left: 20px;
	}
	.activities_marseille
	{
		margin-left: 20px;
	}
	
	

	/* Le header */

	.upper-line
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 150px;
		max-width: 768px;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;
		border-bottom: 3px solid #D9D9D9;
	}

	.nav-hebergement-activity
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}

	.hebergement
	{
		margin-right: 20px;
		padding-right: 40px;
	}
	.hebergement-find, .search , .navigateur, .information
	{
		margin-left: 20px;
	}

	.activites:hover
	{
		border-bottom: #0065FC 3px solid;
		padding-bottom: 28px;
		color: #0065FC;
		border-top-style: none ;
	}

	.hebergement:hover
	{
		border-bottom: #0065FC 3px solid;
		padding-bottom: 28px;
		color: #0065FC;
		border-top-style: none ;
	}

	.hebergement-find
	{
		margin-top: 21px;
	}

	/* Le formulaire */

	.validation
	{
		display: none;
	}

	.validation_2
	{
		display: inline-block;
		background: #0065FC;
		border: 1px solid #0065FC;
		border-radius: 0px 15px 15px 0px;
		color: white;
		font-weight: 900;
		width: 15%;
		font-size: medium;
		height: 49px;
	}

	.search_2
	{
		margin-top: 10.5%;
		width: 97%;

	}
	.label
	{
		width: 15%;
	}

	.formulaire
	{
		width: 70%;
	}

	/* Le navigateur */

	.navigateur
	{
		height: 100%;
		display: grid;
		grid-template-columns:  1fr 1fr ;
		grid-template-rows: 50px 50px;
		max-width: 768px;
		row-gap: 2%;
		column-gap: 0px;
	}
	.navigateur h2
	{
		padding-left: 0%;
	}

	.navigateur a
	{
		padding-right: 15px;
		padding-left: 1px;
		margin-right: 10px;
		margin-bottom: 15px;
		width: 80%;
	}
	.navigateur div
	{
		width: 97%;
	}

	.filter-title
	{
		grid-column: 1/3;
	}

	.Familial , .Économique , .Romantique , .Animaux_autorisés
	{
		margin-left: 0%;
		padding-left: 1px;
		padding-top: 10px;
		padding-bottom: 10px;
		max-width: 100%;
	}

	.Familial h2, .Économique h2, .Romantique h2, .Animaux_autorisés h2
	{
		font-size: 11px;
		padding-left: 5px;
	}

	.information
	{
		max-width: 768px;
		padding-left: 0px;
		margin-right: 3%;
		margin-top: 30px;
	}

	.information p
	{
		max-width: 768px;
	}

	/*les deux blocs centraux*/

	.two-blocs
	{
		display: flex;
		flex-direction: column-reverse;
		max-width: 768px;
	}

	.card_right
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 768px;
		margin-left: 20px;
	}

	.bloc_right a
	{
		width: 100%;
	}
	
	.popular
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	.card-1_right, .card-2_right, .card-3_right
	{
		width: 83%;
		margin-bottom: 15px;
		height: 190px;
		margin-left: 1%;
		padding-right: 7%;
	}

	.card-1_right img, .card-2_right img, .card-3_right img
	{
		width: 40%;
	}

	.card-2_right h2, .card-3_right h2
	{
		width: 125%;
	}

	.bloc_right
	{
		border-radius: 0%;
		max-width: 768px;
		width: 100%;
		height: auto;
		margin-top: auto;
		display: flex;
		flex-direction: column;
		padding-bottom: 9%;
	}

	.cards
	{
		display: flex;
		flex-direction: column;
		max-width: 768px;
		padding-left: 0%;
		width: 93%;
	}

	.text_right
	{
		padding-left: 7%;
		width: 50%;
		height: 144px;
		margin-left: 0px;
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.card-3_right p
	{
		padding-bottom: 10%;
	}

	.stars img
	{
		height: 12px;
		width: 12px;
	}

	.text_right h2
	{
		font-size: 16px;
	}

	.bloc-left
	{
		background-color: white;
		border-radius: 0%;
		max-width: 768px;
		height: auto;
		
		padding-bottom: 4%;
	}
	.auberge , .hôtel_port, .hotel_mouettes,  .hôtel_mer , .auberge_panier, .hôtel_Amina
	{
		width: 100%;
	}

	.bloc-left h1
	{
		margin-left: 3%;
	}

	.afficher_plus
	{
		display: none;
	}

	/* partie activités Marseille */

	.activities_marseille
	{
		margin-top: 0%;
		max-width: 768px;
		height: 1000px;
	}

	.activite_marseille
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.activite_marseille h1
	{
		margin-bottom: 20px;
		width: 40%;
		margin-left: 10px;
	}


	.card_low
	{
		display:flex;
		flex-direction: column;
		margin-right: 0%;
	}

	.card_low a
	{
		width: 100%;
		max-width: 768px;
	}

	.card_1_activite, .card_2_activite, .card_3_activite, .card_4_activite
	{
		width: 90%;
		height: 185px;
		margin-bottom: 24px;
		padding-bottom: 1%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.card_4_activite h2 br
	{
		display: none;
	}

	/* le footer */

	footer
	{
		max-width: 768px;
		height: auto;
		width: 110%;
		
	}

	.propos_herbergement_assistance
	{
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}

	.list
	{
		margin-bottom: 15px;
	}
}
